body {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  min-width: 350px;
  color: black;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.score-display {
  height: 70px;
}

#instructions, .instructions {
  font-size: 24px;
  text-align: justify;
  background-color: #4b9ee27e;
}

#disp-msg {
  font-size: 30px;
  text-transform: uppercase;
}

#msg-box {
  height: 380px;
}

.game-display {
  background-color: rgba(128, 18, 201, 0.808);
}

.player-info {
  font-size: 30px;
}

.attack-info {
  font-size: 25px;
}

#title-img {
  width: 100%;
}

#player-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 4px #4b9ee2 solid;
}

#button-box {
  height: 30px;
}

/* Styling for player inside frame */
.player-frame {
  background-color: #4b9ee2;
  height: 180px;
  width: 130px;
}

.player-frame-image {
  width:  90px;
  height: 90px;
  margin: auto;
  background-color: white;
}

.player-image {
  width:  180px;
  height: 180px;
  margin: auto;
}
